﻿@{
    ViewBag.Title = "Inicio";
}

<h2>Inicio</h2>
<div class="panel pnel-default">
    <form action="/Producto/Index" method="get" class="form-horizontal" style="padding-top:13px; padding-left:13px">
        <div class=" form-group">
            <div class="col-md-6">
                <input type="text" name="criterio" placeholder="Buscar Producto"
                    class="input-sm" style="width:100%" autofocus />

            </div>
            <div class="col-md-3">
                <button class="btn bt-info btn-sm">
                    <span class=" glyphicon glyphicon-search"></span>
                </button>
                <a href="/Categoria/Create" class="btn btn-succes">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
    </form>
</div>
<table class="table table-hover">
    <thead style="background-color:blue">
        <tr>
            <th>IdProducto</th>
            <th>Categoria</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        { 
        <tr>
            <td>@item.IdProducto</td>
            <td>@item.Categoria.Descripcion</td>
            <td>@item.Nombre</td>
            <td>@item.Precio</td>
            <td>@item.Stock</td>
            <td>
                <a href="/Producto/edit/@item.IdProducto" class="btn btn-warning btn-xs">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a href="/Prodcuto/delete/@item.IdProducto" class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
        </tr>
        }
    </tbody>
 
</table>