﻿@{
    ViewBag.Title = "CreateCategoria";
}

<h2>Registrar Nueva Categoria</h2>
<form class="form-horizontal" action="/Categoria/create" method="post">
    <div class="form-group">
        <label for="IdCategoria" class="control-label col-sm-2">Id:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="IdCategoria" name="IdCategoria" placeholder="Id Automatico" readonly="readonly" />

        </div>
        </div>
        <div class="form-group">
            <label for="Descripcion" class="control-label col-sm-2">Descripcion</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="Descripcion" name="Descripcion" placeholder="Ingrese Descripcion" required />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary">
                    <span aria-hidden="true" class="glyphicon glyphicon-floppy-disk"></span>
                    Guardar
                </button>
                <a href="/Categoria/Index" class="btn btn-danger">
                    <span aria-hidden="true" class=" glyphicon glyphicon-backward"></span>
                    Cancelar
                </a>
            </div>
        </div>   
</form>
