﻿@{
    ViewBag.Title = "Editar";
}

<h2>Editar Categoria</h2>

<form class="form-horizontal" action="/Categoria/Edit/@Model.IdCategoria" method="POST">
    <div class="form-group">
        <label for="Id" class="control-label col-sm-2">IdCategoria:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="IdCategoria" name="IdCategoria" placeholder="Generado Automaticamente" readonly="readonly" value="@Model.IdCategoria" />
        </div>
    </div>
    <div class="form-group">
        <label for="Descripcion" class="control-label col-sm-2">Descripcion:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Descripcion" name="Descripcion" placeholder="Ingrese Descripcion" value="@Model.Descripcion" required />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary">
                <span aria-hidden="true" class="glyphicon glyphicon-floppy-disk"></span>
                Guardar
            </button>
            <a href="/Categoria" class="btn btn-danger">
                <span aria-hidden="true" class="glyphicon glyphicon-backward"></span>
                Cancelar
            </a>
        </div>
    </div>
</form>
