﻿@{
    ViewBag.Title = "Inicio";
}
@if (TempData["UpdateSuccess"] != null)
{ 
<div class="alert alert-success">@TempData["UpdateSuccess"]</div>
}

<h2>Admin Categoria</h2>
<div class="panel pnel-default">
    <form action="/Categoria/Index" method="get" class="form-horizontal" style="padding-top:13px; padding-left:13px">
        <div class=" form-group">
            <div class="col-md-6">
                <input type="text" name="criterio" placeholder="Ingrese categoria"
                    class="input-sm" style="width:100%" autofocus />

            </div>
            <div class="col-md-3">
                <button class="btn bt-info btn-sm">
                    <span class=" glyphicon glyphicon-search"></span>
                </button>
                <a href="/Categoria/Create" class="btn btn-succes">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
    </form>
</div>
<table class="table table-condensed" style="border-color:azure; border-color:black">
    <thead style="background-color:brown">
        <tr>
            <th>IdCategoria</th>
            <th>Descripcion</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        { 
        <tr>
            <td>@item.IdCategoria</td>
            <td>@item.Descripcion</td>
            <td>
              <a href="/Categoria/Edit/@item.IdCategoria" class="btn btn-warning btn-xs">
                  <span class="glyphicon glyphicon-pencil"></span>
              </a>
                <a href="/Categoria/delete/@item.IdCategoria" class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>